.span-style {
  font-size: 14px;
  font-family: PingFang SC-Regular, PingFang SC;
  font-weight: 400;
  color: #000000;
  line-height: 20px;
  border-radius: 4px;
  background-color: #f2f2f2;
  padding: 4px 8px;
  &:not(:first-child){
  margin-left: 4px;
  }
}
