.container {
  height: 100%;
  background-color: #f9f9fa;
  box-sizing: border-box;
  padding: 1rem 0.67rem 0;
  transition: all 1.1s;
  &:not(:first-child) {
    margin-top: 1.1rem;
    padding: 0 0.67rem 0;
    .item {
      margin-top: 0;
    }
  }
  .item {
    width: 23rem;
    border-radius: 0.33rem;
    margin-top: 0.33rem;
    background-color: #f9f9fa;
    box-sizing: border-box;
    padding: 0.9rem 0 1.17rem 0;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    transition: all .3s;

    .icon {
      margin: 0 2rem;
      pointer-events: none;
      div {
        width: 2rem;
        display: inline-block;
        img {
          width: 1.33rem;
          height: 1.33rem;
          transform: translateY(0.3rem);
        }
      }
      span {
        height: 1.67rem;
        font-size: 1.17rem;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        color: #000000;
      }
    }
    .icon_right {
      pointer-events: none;
      img {
        width: 1.33rem;
        height: 1.33rem;
        margin-right: 1rem;
        transform: translateY(0.3rem);
      }
    }
    &:hover {
      cursor: pointer;
      background-color: #ecebef;
    }
  }
}
